<div class="container">
    <h2 align="center">Alerts Statistics<a href="#/users" class="pull-right btn btn-link">Back</a></h2>

    <div ng-controller="AlertDetailController">

        <table class="table table-striped">
            <thead>
            <tr>
            <th>Suggested Listings</th>
            </thead>
            </tr>

            <tbody>
            <tr ng-repeat="alert in alertDetailVm.alerts | filterBy: price_Alert">
                <td> {{alert.price_Alert}} </td>
            </tr>
            </tbody>
        </table>

    </div>
</div>